.App{
  display: flex;
}

.bucket {
  display: flex;
  flex-direction: column;
}

.bucket .film-poster{
  max-width: 100px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
}

section {
  display: flex;
}

.bucket{
  min-width: 20%;
}