.App {
  display: flex;
}

.bucket {
  display: flex;
  flex-direction: column;
}

.bucket .film-poster {
  max-width: 100px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
}

section {
  display: flex;
}

.bucket {
  min-width: 20%;
}

.film-item {
  max-width: 20%;
  margin: 15px;
  min-height: 430px;
}

.film-poster {
  max-width: 100%;
}

.film-title {
  min-height: 4rem;
}